<a href="https://colab.research.google.com/github/AnshumanMohapatra11121999/UGRADDS-A/blob/main/CONTROLSTRUCTURE_AND_FUNCTIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Topics
#Control structures
#If-elif-else
#For loop
#While loop
#List comprehensions
#Dictionary comprehensions

In [ ]:
#Descision making(check a number is even or odd)
x = int(input("Enter a number"))

if x % 2 == 0:
    print(x, "is even number")
else:
    print(x, "is odd number")

Enter a number11
11 is odd number

In [ ]:
x=int(input("Enter your age: "))
if x<=18 or x>=60:
  print("Welcome to the Party")
else:
 print("Sorry the age group is not appropriate")

Enter your age: 22
Sorry the age group is not appropriate

In [ ]:
shopping_total=5000
if shopping_total >= 5000:
  print("Discount voucher 1000")
elif shopping_total >= 6000:
  print("Discount voucher 1500")
else:
  print("No discount Voucher")

Discount voucher 1000

In [ ]:
#Iteration
l=[1,2,3,4,5,6]
for i in l:
  print(i)

1
2
3
4
5
6

In [ ]:
stringx="Himachal Pradesh"
for ch in stringx:
  print(ch)

H
i
m
a
c
h
a
l

P
r
a
d
e
s
h

In [ ]:
for ch in stringx:
  print(ch,end=":")

H:i:m:a:c:h:a:l: :P:r:a:d:e:s:h:

In [ ]:
#Iterate over a dictionary (both key and values)
students_data = {1:['Sam', 24] , 2:['Sharma',25], 3:['Saina', 26], 4:['Saif',24], 5:['Varun',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Sharma', 25]
3 ['Saina', 26]
4 ['Saif', 24]
5 ['Varun', 27]

In [ ]:
#Iterate over a dictionary (only key)
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [ ]:
#Iterate over a dictionary (only values)
for values in students_data.values():
    print(values)

['Sam', 24]
['Sharma', 25]
['Saina', 26]
['Saif', 24]
['Varun', 27]

In [ ]:
#range function(start,end,step)
range(1,100)

range(1, 100)

In [ ]:
l=list(range(1,101,5))
print(l)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [ ]:
for i in range(1,100,10):
  print(i)

1
11
21
31
41
51
61
71
81
91

In [ ]:
 #prime numbers between 1 to 20
for n in range(1,20):
  flag = True
  for i in range(2,n):
    if n%i==0:
      flag=False
      break
  if flag:
      print(n)

1
2
3
5
7
11
13
17
19

In [ ]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i, end = " ")

0 1 2

In [1]:
#Comprehension
#Comprehensions are syntactic constructs that enable sequences to be built from other sequences in a clear and concise manner.
#Listcomprehension,Dictionary comprehension and setcomprehension are the three types of comprehension
l1=["one","two","three","four"]
#we have to create another list which contains length of each string in l1 as an element using comprehension
l2=[len(i) for i in l1]
print(l2)

[3, 3, 5, 4]

In [5]:
#iterate over l1 and l2 simultaneously
for i,j in zip(l1,l2):
  print(i," ",j)
  #Zip function is used here in order to merge multiple list or dictionary in order to be iterated

one   3
two   3
three   5
four   4

In [7]:
#Dictionary Comprehension
#We are creating a ictionary out of list l1 where key is the elementof l1 and the corresponding value is the length of the string present as the element in the list l1
d={i:len(i) for i in l1}
print(d)

{'one': 3, 'two': 3, 'three': 5, 'four': 4}

In [11]:
#Set Comprehension
#Ex take a word from the users and return the vowels present in the word using comprehension
word= str(input("Enter a word"))
vowels={i for i in word if i in "aeiou"}
print(vowels)

Enter a wordas i am aware of this elope
{'i', 'e', 'o', 'a'}