<a href="https://colab.research.google.com/github/AnshumanMohapatra11121999/UGRADDS-A/blob/main/Data_Cleaning_in_Python_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#There are multiple ways of getting data into Python, depending on where the data is stored.
# The simplest case is when you have data in CSV files,
#but often, you need to get data from other formats, sources and documents,
#such as text files, relational databases, websites, APIs, PDF documents, etc.

In [ ]:
#In the following sections, you will learn to get data into Python from several sources. You will learn how to:

'''Get data from text files
Get data from relational databases
Scrape data from websites
Get data from publicly available APIs
Read PDFs into Python'''

In [ ]:
'''
What are Delimited Files?
Delimited files are usually text files,
where columns are separated by delimiters (such as commas, tabs, semicolons, etc.),
and each new line is a row. We will be learning how to embed and manipulate such data using Python.


'''

In [ ]:
#RDBMS is also often used to store data,
#and they are simple to import into Python.

In [ ]:
'''
Many libraries, such as pymysql, MySQLdb, and others, connect MySQL with Python.

To connect to MySQL, they all use the procedure outlined below:

Create a connection object between MySQL and Python
Construct a cursor object (you use the cursor to open and close the connection)
Run the SQL query.
Using methods like fetchone()and fetchall(), you can get the queryâ€™s results.

'''

In [1]:
import pandas as pd
import numpy as np

In [ ]:
#reading a text file Where the separator is a tab we use sep="\t" attribute
#df=pd.read_csv("path.txt",sep="\t",encoding="ISO-8859-1")

In [ ]:
#Getting data from Relational Databases
#import library
import pymysql


# create a connection object 'conn'
conn = pymysql.connect(host="localhost", # your host, localhost for your local machine
                     user="root", # your username, usually "root" for localhost
                      passwd="yourpassword", # your password
                      db="world") # name of the data base; world comes inbuilt with mysql

# create a cursor object c
c = conn.cursor()

# execute a query using c.execute
c.execute("select * from city;")

# getting the first row of data as a tuple
all_rows = c.fetchall()

# to get only the first row, use c.fetchone() instead

In [ ]:
# notice that it returns a tuple of tuples: each row is a tuple
print(type(all_rows))

# printing the first few rows
print(all_rows[:5])

In [ ]:
'''Now, it would be useful to convert the list into a dataframe, since you can now work with dataframes easily. In this case, you can use the ```pd.DataFrame()``` function, and pass the list version of the tuple.

```pd.DataFrame(list_of_tuples)``` converts each tuple in the list to a row in the DF.'''

In [ ]:
df = pd.DataFrame(list(all_rows), columns=["ID", "Name", "Country", "District", "Population"])
df.head()