<a href="https://colab.research.google.com/github/AnshumanMohapatra11121999/UGRADDS-A/blob/main/FUNCTIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TOPICS
#Functions
#Map
#Filter
#Reduce

In [ ]:
#Functions
#Syntax
'''
def functionname(parameters):
  statements inside the function
'''
def sum(a,b=1):
  z=a+b
  return z
d=sum(34,sum(2))
print(d)

37

In [5]:
#Functional Arguments
#Default arguments: These parameters have a default value and will not throw any error if they are not passed while using the function.
#Default parameter here is age which has a by efault value 35
def func1(name,age=35,city="Mumbai"):
  print(name)
  print(age)
  print(city)

func1("Anshuman")#This function call will print age 35 by default because there is no specific value for parameter age is given

Anshuman
35
Mumbai

In [6]:
#Keyword parameters: These parameters are expected to be passed using a keyword. In the example of printing a list, you saw that passing end = ',' prints the elements of the list separated by a comma instead of the default newline format.
#This is a classic example of a keyword argument, the value of which is changed by using the end keyword and specifying the value.
#Keyword aargument:If there are 3 parameters but we want to give value for 1st and 3rd parameter
# but by default when we enter 3rd parameter value but the function tretas it as second parameter value in that case this concepts become helpful.
func1("Anshuman",city="Phagwara")#Here inorder to give value for the 3rd parameter we are directly writing the name of the parameter

Anshuman
35
Phagwara

In [8]:
#Variable-length parameters: These enable the function to accept multiple arguments.
#Now, letâ€™s write a function that takes two lists as the input and performs an element-wise subtraction.
#It is simple: first, you define your function with two parameters:
#give more than one argument by writing a single argument name in function definition
def var_args(*args):
  print(args)

var_args("Anshuman","xyz",1,2.5)#The output will be in the format of a tuple

('Anshuman', 'xyz', 1, 2.5)

In [18]:
#Lambda Function
#Lambda functions are another way of defining functions to execute small functionalities occurring while implementing a complex functionality.
#These functions can take multiple parameters as input but can only execute a single expression;
#in other words, they can only perform a single operation.
#Syntax:The format of a lambda expression is as follows:
#function_name  = lambda <space>  input_parameters :  output_parameters

f=lambda x,y:x+y
f(2,3)
#o/p=5
f([2,3,4,5],[6,7,8,9])
#o/p=[2, 3, 4, 5, 6, 7, 8, 9]

[2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
f([2,3,4,5],[6,7,8,9])
#o/p=[2, 3, 4, 5, 6, 7, 8, 9]

[2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
#Example of lambda function(Check number is even or odd)
g=lambda x: "even" if x%2==0 else "odd"
g(25)

'odd'